body{
    background-color:rgb(112, 26, 26);
    margin: 0;
    font-family: 'Indie Flower',cursive;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #4ECCA3;
}
h1{
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 7px 0 #232931;
    letter-spacing: 12px;;
    font-size: 8rem;
    color: #faf60f;

}

img {
    width: 80%;
  }
  
footer{
    color: #EEEEEE;
    padding: 5px;
    width:100%;
    
}
.container{
    width: 100%;
    height:100vh;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    align-items:center;
    
}
.console{
    display: flex;
    width:100% ;
    justify-content:space-around;
}
.dice{
    margin:30px
    width: 50%x;
    height: auto;
}
.btn{
    padding:0 7px;
    width: 120px;
    border:outset #232931 5px ;
    background-color: #faf60f;
    font-family: 'Lobster';
    font-size: 2rem;
    box-shadow: 2px #232931;
}
.btn:active {
    background-color: #3e8e41;
    box-shadow: 2px #232931;
    transform: translateY(4px);
  }
  
.btn:hover{
    border-style:inset;
    background-color: #faf60f;
    

}
    

